.slider {
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.inner {
  display: flex;
  z-index: -1;
}

.back {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
}
