



.outer {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.inner {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  /* flex-wrap: nowrap; */
  transform: matrix(1,0,0,1,0,0);
  /* transition: all 0.5s ease; */
}

/* .slide {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;  
  border: 1px solid salmon;
} */


